---
title: Shaileshh Bojja Venkatakrishnan - Teaching
---

      <div id="mainpage">
        <div id="list">
          <p id="title">Teaching</p>
          <% data.courses.courses.each do |course| %>
            <p><%= course["semester"] %>:<br>
            <% course["subjects"].each do |subject| %>
              <%= subject %><br>
            <% end %>
            </p>
          <% end %>
        </div>
      </div>
    </div>

